<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Team Profile</title>
</head>
<body>

<div class="problem">
    {{TeamMap.benchmark.problem}}
</div>

<div class="become_educated">
    {{TeamMap.benchmark.become_educated}}
</div>

<div class="solution">
    {{TeamMap.benchmark.solution}}
</div>

<div class="action_blueprint">
    {{TeamMap.benchmark.action_blueprint}}
</div>

<div class="solution_results">
    {{TeamMap.benchmark.solution_results}}
</div>

</body>
</html>