
{% extends 'home/base.html' %}
{% load static %}

{% block content1 %}



<div class="mission-home">
        <div class="row">
    <div class="mycontainer">
            <section id="section2">
                <div class="alignStuff">
                    <h4 class="ourmission">Reach out. </h4>
          </div>
        </div>
      </div>
</div>



      <div class="row">
    <div class="mycontainer">
           <section id="section3">
                <div class="alignStuff">
                    <p> SmallWorld is an early-stage social startup. We are eager to work with students, professionals, and organizations to build a network for impact and accomplish our mission.</p>
                    <p> For any questions or to get involved today, please reach out to Lauren or Daria at <b> contact.smallworld.global@gmail.com. </b></p>
                    <!--p> You can also find us on our Facebook page here! </p>-->
                    <p> We look forward to hearing from you! </p>
                    <p class="p-hr-top"> - Lauren, Daria, & Sarah </p>
                    <hr>




            </section>
          </div>
        </div>
      </div>

{% endblock %}
