{% extends 'home/base.html' %}

{% block content %}
  <div class="row">
    <div class="col-md-8 col-sm-10 col-12">
        <h2>{{object.meeting.info}}</h2>
        <h1> Upload these to the team profile. </h1>
      <form method="post" novalidate>
        {% csrf_token %}
          {{form.as_p}}
        <!--{{ form.as_p }} will render them wrapped in <p> tags-->
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
    </div>
  </div>
{% endblock %}

<!--how to make it different for every meeting- make general template for meeting page, then -->