




{% extends 'home/base.html' %}
{% load static %}

{% block content1 %}



<div class="mission-home-2">
      <div class="row">
    <div class="container-fluid">
           <section id="section3">


<div class="alignStuff">
                <h1>Our model is based on experience.</h1>

    </div>
            </section>
          </div>

        </div>
          </div>






<div class="mission-home">
        <div class="row">
    <div class="container-fluid">
            <section id="section2">
                <div class="alignStuff">
                    <h4 class="h4-norm ourmission">Our story.</h4>
          </div>
        </div>
      </div>
</div>



      <div class="row">
    <div class="container-fluid">
           <section id="section3">
                <div class="alignStuff">
                   <p> It began with bake sales.<p>
                    <p>In 2013, co-founders Sarah Dinegar and Lauren McMillen had their first bake sale for the Nyaka AIDS Orphans Project outside a local grocery school. Over a year, they raised $3000 to purchase school supplies for Nyaka's elementary students.</p>
                    <p> In 2016, Lauren joined a team of other high school students to raise $10,000 through a benefit concert of student performers to purchase solar panels for Nyaka. Our mentor, Jeff Boyce, constantly motivated us, supported us, and held us accountable. The founder of the organization, Jackson Kaguri, inspired and believed in us.</p>
                    <p class="p-hr-top"> In the summer, our team traveled to southwestern Uganda to install the solar panels on the Nyaka Vocational Secondary School. The panels power the computer lab, providing a consistent and sustainable source of energy in an area which often faces power shortages.</p>
                 <hr>
                    <h5> We realized high schoolers can make tangible impacts on the world. </h5>
                    <hr>
                    <p  class="p-hr-bottom"> After graduating high school, Sarah and Lauren began to develop the idea for SmallWorld,
                        an organization that would show high school students how powerful they can be and make tangible change in the world.
                        A year later, co-founder Daria Akinshina joined us, and today SmallWorld is a growing team of undergraduates with similar high school experiences.</p>
           <P> Over the past two years, we have refined our beliefs, learned more about humanitarian engagement, and developed a model we believe will work.
          </p>
            </section>
          </div>
        </div>
      </div>

<div class="mission-home">
        <div class="row">
    <div class="container-fluid">
            <section id="section2">
                <div class="alignStuff">
                    <h4 class="h4-norm ourmission">Our vision.</h4>
          </div>
        </div>
      </div>
</div>

      <div class="row">
    <div class="container-fluid">
           <section id="section3">
                <div class="alignStuff">
                    <h5> A network  of high impact young people <br> who implement measurable, long-term solutions <br> for humanitarian problems in communities around the world. </h5>
                    <p>The concept isn’t new:</p>
                        <p> <mark class="purple">1 effective team</mark> raised <mark class="purple">$10,000</mark> in a year with mentor support.<br> <mark class="purple">50 effective teams</mark> can raise <mark class="purple">$500,000 </mark>in a year with mentor support.</p>
                    <p>This is the reason we think what we are doing is important.</p>
            </section>
          </div>
        </div>
      </div>


    <div class="mission-home">
        <div class="row">
    <div class="container-fluid">
            <section id="section2">
                <div class="alignStuff">
                <h4 class="h4-norm ourmission">Our model.</h4>
            </section>
          </div>
        </div>
      </div>


      <div class="row">
    <div class="container-fluid">
           <section id="section3">
                <div class="alignStuff">
                    <p> We have created <br> <mark class="purple"> a program & a platform</mark> <br> to increase long-term & effective humanitarian engagement among high schoolers. </p>
                    <p class="p-hr-top"> What makes us different: <mark class="purple"> repurposing passions </mark> to solve a problem and <mark class="purple">measuring the impact</mark> of the solution. </p>
                    <hr>
                    <h5>The Program & The Platform</h5>
                    <p>Over 2 semesters, a team of high school students and their mentor identify a specific humanitarian problem, understand its root causes, and solve it by “repurposing” what they are already passionate about- like art, music, or sports.</p>
                    <p> Using our online platform, teams work through <a href="{% url 'about:work' %}">a structured program</a> and upload their progress and solution to their team profile. At the end, teams must devise a way to measure their solution.</p>
            </section>
          </div>
        </div>
      </div>

  <div class="mission-home">
        <div class="row">
    <div class="container-fluid">
            <section id="section2">
                <div class="alignStuff">
                <h4 class="h4-norm ourmission">Our method.</h4>
            </section>
          </div>
        </div>
      </div>


      <div class="row">
    <div class="container-fluid">
           <section id="section3">
                <div class="alignStuff">

                  <h5> 1. Mentorship</h5>
                  <p class="p-hr-top"> Many high school students, despite what some assume, readily have the motivation and intelligence to solve specific humanitarian problems. With a mentor to inspire students, navigate the professional world,
                    and hold students accountable, teams have the ability to make measurable impacts.</p>
<hr>
                  <h5> 2. Incentives</h5>
                  <p> We want to apply the same system utilized in academics, athletics, and music to effective community service. After students complete a solution over 2 semesters, they will gain access to greater opportunities: for example- a SmallWorld conference, expert mentors, special teams, and funding opportunities.</p>
                    <p> Our incentive system will not be competition.</p>
                    <p class="p-hr-top"> <mark class="purple">Time and dedication</mark> to a problem, <mark class="purple">not the size or success</mark> of a solution, is what matters.
                    Our goal is that freshmen join SmallWorld and focus on a specific problem over 4 years for optimum impact.</p>
<hr>

                  <h5> 3. An innovative online platform</h5>
                    <p> We are building an <mark class="purple">action platform</mark> to connect:</p>

                    <p><b> 1) Students to SmallWorld</b> </p>
                    <p> Through an online profile, students build detailed profiles of their progress and impact. </p>
                    <p> <b>2) Teams to Teams </b></p>
                    <p> Teams working on similar problems can collaborate directly or by viewing the profile of that team.
                        A team working on a problem in another team’s community can collaborate directly for more efficient and effective impact. </p>
                    <p> <b> 3) Teams to Non-Profits</b> </p>
                    <p> Non-profits submit specific problems to the platform that teams can choose to solve. </p>

                </div>
            </section>
          </div>
        </div>
      </div>

<div class="mission-home">
        <div class="row">
    <div class="container-fluid">
            <section id="section2">
                <div class="alignStuff">
                    <h4 class="h4-norm ourmission">Our developing philosophy.</h4>
          </div>
        </div>
      </div>
</div>

   <div class="row">
    <div class="container-fluid">
           <section id="section3">
                <div class="alignStuff">
                 <h5>We are aware of the problems facing non-profits. We think tech can solve them. </h5>
              <p>  Our platform will improve:</p>
                  <ul> <li> Efficiency & transparency </li>
                    <li> Collaboration among similar causes </li>
                    <li> Capacity to work with a community, not for a community </li>
                  </ul>
                </div>
    </div>
   </div>

<!--
 <div class="row">
    <div class="container-fluid">
           <section id="section3">
                <div class="alignStuff">
                <button class="button-normal"> Learn more about our philosophy-in-training here. </button>
                </div>
    </div>
   </div>
-->














{% endblock %}