{% extends 'home/base.html' %}
{% load static %}

{% block content1 %}




    <div class="mission-home-2">
      <div class="row">
    <div class="mycontainer">
           <section id="section3">
                <div class="alignStuff">
                <h1>SmallWorld GAA 2019-2020</h1>
                </div>
            </section>
          </div>
        </div>
      </div>

    <div class="row">
    <div class="mycontainer">
      <div class="alignStuff">
            <h5> Check this page for program updates. </h5>
            <h5> Join "SmallWorld GAA 2019-2020" on Facebook and follow SmallWorld for all updates! </h5>
      </div>
    </div>
    </div>

          <div class="mission-home">pyt
              <div class="row">
                  <div class="mycontainer">
                      <div class="alignStuff-sm">
                          <h4>Schedule</h4>
                      </div>
                  </div>
              </div>
          </div>


             <div class="row">
                    <div class="mycontainer">
                        <div class="alignStuff">
                            <iframe src="{%  static 'img/schedule.pdf' %}" width="800px" height="500px"></iframe>
                         </div>
                    </div>
             </div>

































{% endblock %}