{% extends 'home/base.html' %}
{% load static %}

{% block content1 %}




    <div class="mission-home-2">
      <div class="row">
    <div class="mycontainer">
           <section id="section3">
                <div class="alignStuff">
                <h1>Get involved.</h1>
                </div>
            </section>
          </div>

        </div>
      </div>

    <div class="row">
    <div class="mycontainer">
      <div class="alignStuff">
          <p>   We are looking for students and mentors to create teams & NGO partners to identify humanitarian problems. </p>
          <p> Jump to opportunities for: </p>
          <p>
            <a href="#getinvolved-hs"><button class="button-normal-sm">High School Students</button></a>
              <a href="#getinvolved-up"><button class="button-normal-sm">Undergrads & Professionals</button></a>
              <a href="#getinvolved-coders"><button class="button-normal-sm">Coders & Technologists</button></a>
              <a href="#getinvolved-ngo"> <button class="button-normal-sm">NGOs</button></a> </p>
      </div>
    </div>
    </div>

<div class="mission-home">
        <div class="row">
    <div class="mycontainer">
            <section id="getinvolved-hs">
                <div class="alignStuff">
                    <h4>HIGH SCHOOL STUDENTS</h4>
          </div>
            </section>
        </div>
      </div>
</div>



      <div class="row">
    <div class="mycontainer">
           <section id="section3">
                <div class="alignStuff">
                    <h5> 1. Join a team and solve a problem.  </h5>
                    <p> Is there one or more SmallWorld teams already established at your high school? Contact your school representative or <a href="{% url 'contact:contact' %}">contact us</a> to join a team and make a measurable impact.</p>
                    <h5> 2. Create a team and solve a problem. </h5>
                    <p> Is there a problem in your community, or outside of it, you think should be solved? Do you want to use your passions for good? <a href="{% url 'contact:contact' %}">Contact us</a> to create a team. After you reach out, we will coordinate with your high school to identify a mentor and find other students to join your team.   </p>
                    <!--<h5> 3. Are you an aspiring coder? Build a piece of our platform by searching tasks on our TechTask Portal. </h5>-->
            </section>
          </div>
        </div>
      </div>

<div class="mission-home">
        <div class="row">
    <div class="mycontainer">
            <section id="getinvolved-up">
                <div class="alignStuff">
                    <h4 class="ourmission">UNDERGRADS & PROFESSIONALS</h4>
          </div>
        </div>
      </div>
</div>



      <div class="row">
    <div class="mycontainer">
           <section id="section3">
                <div class="alignStuff">
                    <h5> 1. Become a mentor. </h5>
                    <p> Mentors are crucial to the success of a SmallWorld team's solution. The commitment and belief, as well as professional experience, that a mentor brings to his/her team is what transforms the creative ideas of passionate high school students into real-world change.</p>
                    <p><a href="{% url 'contact:contact' %}">Contact us</a> today to let us know you are interested in becoming a mentor. After the interview and training process, we will reach out to high schools in your area to match you with a team of passionate students. </p>
                   <!-- <h5> 3. Are you an experienced technologist? Build a piece of our platform by searching tasks on our TechTask Portal. </h5>-->
            </section>
          </div>
        </div>
      </div>
<div class="mission-home">
        <div class="row">
    <div class="mycontainer">
            <section id="getinvolved-coders">
                <div class="alignStuff">
                    <h4 class="ourmission">CODERS & TECHNOLOGISTS</h4>
          </div>
        </div>
      </div>
</div>
      <div class="row">
    <div class="mycontainer">
           <section id="section3">
                <div class="alignStuff">
                    <h5> 1. Build SmallWorld's platform </h5>
                    <p>  We are assembling a team of technologists to build SmallWorld’s platform.</p>

                        <p> We are looking for team members with any experience in:
                        <ul>
                    <li> Front-end web dev</li>
                    <li>Back-end web dev (Django preferred)</li>
                      <li> AR/VR web applications</li>
                       <li> Data visualization</li>
                       <li> Graphic design</li>
                </ul>
                </p>



                    <p> We are piloting an intensive internship program specifically for undergraduates.
                        Interns will work with an advisor and implement a unique web application on the platform.
                        Reach out to learn more!</p>

                    <p><a href="{% url 'contact:contact' %}">Contact us</a> today learn more about joining SmallWorld's tech team!</p>
                   <!-- <h5> 3. Are you an experienced technologist? Build a piece of our platform by searching tasks on our TechTask Portal. </h5>-->
            </section>
          </div>
        </div>
      </div>
<div class="mission-home">
        <div class="row">
    <div class="mycontainer">
            <section id="getinvolved-ngo">
                <div class="alignStuff">
                    <h4 class="ourmission">NGOs</h4>
          </div>
        </div>
      </div>
</div>



      <div class="row">
    <div class="mycontainer">
           <section id="section3">
                <div class="alignStuff">
                     <h5> 1. Partner with us. Identify a specific problem for a team to solve. </h5>
                    <p> Many non-profits have small-scale projects, fundraising goals, or new ideas that limits on time, staff, or budget prevent from materializing.
                        SmallWorld teams, with strong mentorship and a structured program, are capable of making tangible impacts on your organization and the problems it addresses.</p>
                    <p><a href="{% url 'contact:contact' %}">Contact us</a> today to discuss how SmallWorld teams can solve a problem for your organization.</p>
            </section>
          </div>
        </div>
      </div>














{% endblock %}

<!--


 <div class="mission-home-2">
      <div class="row">
    <div class="mycontainer">
           <section id="section3">
                <div class="alignStuff">
                <h1>Get involved.</h1>
                </div>
            </section>
          </div>
        </div>
      </div>


<div class="row">
    <div class="mycontainer">
           <section id="section3">
                <div class="alignStuff">
                     <h5> We are looking for </h4>
                         <p> 1. Students and mentors</p>
                         <p>   2. Aspiring or experienced coders</p>
                           <p>  3. NGO partners to identify humanitarian problems. </p>
                         <h5> Find out below how you can act to build our network of impact. </h5>
                </div>
           </section>
    </div>
</div>



<div class="row">
    <div class="mycontainer">
        <div class="alignStuff">
        <button class="collapsible">Student</button>
        <div class="getinvolved-content">
            <div class="row">
                <div class="mycontainer">
                   <section id="section3">
                        <div class="alignStuff">
                             <h5> 1. Create a profile and explore our platform. <button class="button-purple"> Sign up now. </button> </h5>
                            <h5> 2. Join or create a team at your high school. </h5>
                           <p> * We are currently working with a limited number of schools. <br> If we don't partner with your school yet, send us an email  <button class="button-purple"> here </button> </h5> and we will! </p>
                          <h5> 3. Over 2 semesters, implement the 5 steps of a SmallWorld solution.</h5>
                           <p> A complete team profile displays all 5 step benchmarks- you will learn more about this after signing up. <br> Each benchmark will be displayed on your team’s profile for future Smallworld teams to learn from. </p>
                        </div>
                   </section>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="mycontainer">
        <div class="alignStuff">
        <button class="collapsible">Undergrad or Professional</button>
        <div class="getinvolved-contentt">
            <div class="row">
                <div class="mycontainer">
                   <section id="section3">
                        <div class="alignStuff">
                             <h5> 1. Create a profile and explore our platform. <button class="button-purple"> Sign up now. </button> </h5>
                            <h5> 2. Join or create a team at your high school. </h5>
                           <p> * We are currently working with a limited number of schools. <br> If we don't partner with your school yet, send us an email  <button class="button-purple"> here </button> </h5> and we will! </p>
                          <h5> 3. Over 2 semesters, implement the 5 steps of a SmallWorld solution.</h5>
                           <p> A complete team profile displays all 5 step benchmarks- you will learn more about this after signing up. <br> Each benchmark will be displayed on your team’s profile for future Smallworld teams to learn from. </p>
                        </div>
                   </section>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="mycontainer">
        <div class="alignStuff">
        <button class="collapsible">Non-profit organization</button>
        <div class="getinvolved-content">
            <div class="row">
                <div class="mycontainer">
                   <section id="section3">
                        <div class="alignStuff">
                             <h5> 1. Create a profile and explore our platform. <button class="button-purple"> Sign up now. </button> </h5>
                            <h5> 2. Join or create a team at your high school. </h5>
                           <p> * We are currently working with a limited number of schools. <br> If we don't partner with your school yet, send us an email  <button class="button-purple"> here </button> </h5> and we will! </p>
                          <h5> 3. Over 2 semesters, implement the 5 steps of a SmallWorld solution.</h5>
                           <p> A complete team profile displays all 5 step benchmarks- you will learn more about this after signing up. <br> Each benchmark will be displayed on your team’s profile for future Smallworld teams to learn from. </p>
                        </div>
                   </section>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>









<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>



-->

