<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="teamcontainer">
    <div class="row">
        <div class="teamalign">
            <img class="teampic" src="{% static 'img/nyaka.jpg' %}">
        </div>
        <div class="teamtxtcontainer">
            <h5>Nyaka AIDS Orphans Project & Solar Power</h5>
        </div>
        <div class="teamalign">
          <div class="container-fluid">
                <p class="teamtxt-p"> Nyaka is a community organization in southwestern Uganda that
                    provides free education, medical care, clean water, and more to children who have lost parents to AIDS. The founder of the organization,
                Jackson Kaguri, is visitng GAA in November to speak about Nyaka, his story, and the current projects going on at Nyaka. SmallWorld
                teams interested in climate change is can get intimately involved with a current task to fundraise for solar panels to power the Nyaka schools or with other
                projects. This is an amazing opportunity to do important work with a well-established and respected NGO. Email Lauren (who traveled to Uganda and worked with Nyaka for years) to
                    learn more- she will be super excited to talk to you about it. </p>
                    <p><a href="https://www.nyakaschool.org/">Nyaka School</a></p>
            </div>
        </div>
        </div>
    </div>
</div>





          <div class="mission-home">
              <div class="row">
                  <div class="mycontainer">
                      <div class="alignStuff-sm">
                          <h4 class="ourmission">2. Find Root Causes</h4>
                      </div>
                  </div>
              </div>
          </div>

            <div class="row">
                    <div class="mycontainer">
                        <div class="alignStuff">
                            <h1> + Make Why Flow Charts</h1>
                            <p>Why is your problem occurring?</p>

                            <p>There are countless answers to this question.</p>

<p>To effectively solve the problem, we have to identify not just a reason, but a root cause of it.

and To do that, we have to keep asking “Why?”

Create “Why?” flow charts until you reach a problem that has a clear and simple (though not necessarily easy) solution. That problem- is a root cause.</p>

<p>For example, why do students at our school make poor nutrition choices?

One reason could be: they prefer unhealthy food →Why? → Because healthy food tastes worse than unhealthy food. Here is a root cause. We can see a clear solution from this statement. Make healthy food that tastes better than unhealthy food. (And One note- While we won’t do this for every example, tweak these solutions to fit your problem and target group- and to be realistic. This “general” solution would maybe translate to “make some healthy food taste better than some unhealthy food at your school”. )
    Anyways, another reason for poor nutrition? Students want to eat the same foods as their friends → It seems like this root cause could be societal pressure to fit in.</p>

    <P> Why do students make poor nutrition choices? Because their parents pack unhealthy food for them → Why? → One reason may be that unhealthy food is cheaper than healthy food. Here is another root cause. It has a clear solution- Make healthy food cost the same as unhealthy food at your school.
Again, why poor nutrition? Students see ads that glorify unhealthy foods → The root cause here would be marketing methods.
The final reason for poor nutrition? Because there are only unhealthy choices in the school vending machines → Why? → The school’s vendor offers these options. This^ could be one root cause.<P>
                            <P>There are 2 clear solutions- Change the vendor, or change the vending machine options. In this example, you could even further. Why does the school’s vendor offer these options? Probably- those options are the cheapest. Here we have the same root cause as before, with the same solution- Make healthy food cheaper than unhealthy food.
                            Here’s why it’s so important to identify root causes before jumping to a solution. Look at the reason, though not a root cause, for poor nutrition: that students prefer unhealthy food. If you didn’t address the root cause of this, you might try to solve students’ poor nutrition choices by persuading them that even though healthy food might taste worse, they should still eat it. While an awareness project like this may persuade some, it would be very difficult to be successful with many students in the long-term. However, when we asked Why? once more, we got to the root cause that healthy food tastes worse. That gave us a solution that is clear, simple in concept, and could feasibly be effective in the long-term.</P>
                            <p> Once we find all our root causes, how do we figure out the “best” root cause to solve?</p>
<p>First, Which root causes can you realistically contribute to solving?
Second, Which root causes can be significantly impacted in one semester?
third, Where can you have the most long-term impact with tangible results?</p>
<p>Therefore, to make a long-term and tangible contribution to the problem of poor nutrition choices of the students at our school, we will solve its root cause, the unhealthy choices in our school’s vending machines.
Now work with your team to create Why flow charts and identify the root cause you want to solve.</p>
</p>
                        </div>

                    </div>

            </div>



           <div class="mission-home">
              <div class="row">
                  <div class="mycontainer">
                      <div class="alignStuff-sm">
                          <h4 class="ourmission">3. Identify experts/connections</h4>
                      </div>
                  </div>
              </div>
          </div>

           <div class="row">
                    <div class="mycontainer">
                        <div class="alignStuff">
                            <h1> + Make Actionable List</h1>
                            <p> Look over what you have learned about your problem and its root cause. What are some gaps that remain in your knowledge? What are the aspects of your problem, its root cause, and its possible solutions that aren’t possible to Google because they are very specific to your school, your neighborhood, or your target group?
                                Spend time and discuss what specific information you need to make your solution a success. This could be from how the people in your community feel about this problem to solutions that have been tried in your community already. Form 5 effective questions to cover the gaps in your knowledge.</p>
<p>For example, after learning about poor nutrition and its effects, then researching how the choices in a vending machine affect student health, let’s look at what we still don’t know.
How do students feel about the snacks in the vending machine right now?
Is making good nutrition choices a priority for students at our school?
How are our vending machine options chosen?
Do our administrators understand how unhealthy vending options affects student health, and did they make the snack choices based off of that?
    Have other schools in our city undergone healthy changes to vending machine snacks? How did they do it, and what was the reaction of students?</p>
<p>After you have your 5 questions, think about who could answer them for you. Identify 5 “experts” you would like to contact. While an expert could be a teacher, professor, or professional, your family, friends, and other community members may have their own type of expertise about a specific issue that affects people in your community.
1 expert you identify must be someone who has been affected by your problem first-hand. For example, when we ask students about how the vending machine affects their nutrition choices, we are asking the group of people affected by the problem. However, another route could be talking to a person who has been affected by poor nutrition in general. Is there anyone your group knows who has benefitted from making good nutrition choices or who has been negatively affected by making poor ones?
    Finding someone affected by a problem who is willing to talk about their experience, and then knowing the right questions to ask them, however, can be tricky. Once your team submits their idea of who to talk to, SmallWorld mentors will work together to help you take the next step. Finally, after you have identified all 5 experts, contact each of them in the way your team thinks is best.</p>
</p>
                        </div>
                    </div>
            </div>



           <div class="mission-home">
              <div class="row">
                  <div class="mycontainer">
                      <div class="alignStuff-sm">
                          <h4 class="ourmission">4. Devise a solution and method to measure your impact </h4>
                      </div>
                  </div>
              </div>
          </div>

            <div class="row">
                    <div class="mycontainer">
                        <div class="alignStuff">
                            <h1> +Brainstorm </h1>
                            <p> It’s time to decide how you want to solve your problem.</p>
<p>There will be three parts to your solution:
    What is your solution to your identified problem? How will you accomplish it? How are you going to execute/implement your solution?</p>


<p>Our example’s root cause is that the school vendor offers only unhealthy options.
The clear solution is to change the snacks in the vending machine. For our example, we will use this as our solution, but other teams may want to tweak their solution before moving forward.
    How are we going to accomplish our goal of changing the snacks?</p>
                            <p>Most solutions will fall into one of three categories:</p>
<p>The first is a “Community Objective”. Your team is solving your problem by accomplishing a specific goal within your community. This can be anything from a volunteer project, to an event, to a campaign to change some status-quo by working with those who have the power to change it.
</p><p>The second is “Awareness and Analysis”. Your team has found that the best solution to your problem is by educating your community. Awareness and Analysis solutions involve creative, unique, and well-thought out awareness campaigns. Just as important as the awareness, however, is the analysis- Your team must devise a way to measure how effective your campaign was and why.
</p><p>The third is “Tangible-Goal Fundraising”. Your team’s problem is best solved by a specific product or service, and your team must raise money to purchase it.
<p>
                            Once you have some solutions your team feels confident about, re-evaluate each solution based on these two types.</p>
                            <p>The One-Time Solution: This is the kind of solution that relieves the effects of a problem, but doesn’t contribute to its long-term solution.</p>
                            <p>The Effective Solution: This solution solves your identified problem by accomplishing a specific goal and might (not required) establish a system that consistently works to solve the problem over time. An effective solution solves your identified problem in the long-term.</p>


<p>Remember, your solution must solve your identified problem. If you find that all the solutions your team has brainstormed appear to be one-time solutions because they don’t actually solve the problem, you might want to narrow down your identified problem.
                            Understanding how to be effective is the key to really making an impact. Refer back to the 2 types of solutions if your team is having trouble.</div>

                        </div>
                    </div>





    <div class="mission-home-2">
      <div class="row">
    <div class="mycontainer">
           <section id="section3">
                <div class="alignStuff">
                <h1>GEMS American: 2019 - 2020</h1>
                </div>
            </section>
          </div>
        </div>
      </div>

    <div class="row">
    <div class="mycontainer">
      <div class="alignStuff">
            <h5>Take the steps below to join a GAA SmallWorld team. </h5> <h5> Jump to <a href="#faqs">FAQS</a> to learn more. <br> Meet the 2019-2020 mentors <a href="#mentors">here</a>. </h5>
      </div>
    </div>
    </div>

          <div class="mission-home">pyt
              <div class="row">
                  <div class="mycontainer">
                      <div class="alignStuff-sm">
                          <h4>1. Sign Up</h4>
                      </div>
                  </div>
              </div>
          </div>


             <div class="row">
                    <div class="mycontainer">
                        <div class="alignStuff">
                     <p> Fill out the <a href="https://docs.google.com/forms/d/e/1FAIpQLSfoqgY8JLjVNUiZPuPQOmYXjyTnDVOBGG3oISFsL6Cg0Nc8NA/viewform?usp=sf_link">SmallWorld Interest Form</a> to indicate your interest in joining a SmallWorld team.</p>
                         </div>
                    </div>
             </div>



          <div class="mission-home">
              <div class="row">
                  <div class="mycontainer">
                      <div class="alignStuff-sm">
                          <h4 class="ourmission">2. Show Up</h4>
                      </div>
                  </div>
              </div>
          </div>

            <div class="row">
                    <div class="mycontainer">
                        <div class="alignStuff">
                            <p>Attend the SmallWorld Kick-Off Day! </p>
                            <p> Saturday, October 5th <br> 9am - 3pm <br> NYU Abu Dhabi, A3 Building</p>
                                <p>At the kick-off, you will form teams based on the problem you want to solve and meet your mentors.
                                Then, your team will spend the day identifying your problem, becoming educated on its causes and effects,
                                and brainstorming the solution that you will implement over the next 2 semesters. Parents are encouraged to attend!</p>
                             <p>(More info about the kick-off event to come after you sign up.)</p>
                            <a class="button-purple" href="#mentors">Meet the 2019-2020 mentors here!</a>
                        </div>

                    </div>

            </div>



           <div class="mission-home">
              <div class="row">
                  <div class="mycontainer">
                      <div class="alignStuff-sm">
                          <h4 class="ourmission">3. Commit </h4>
                      </div>
                  </div>
              </div>
          </div>

           <div class="row">
                    <div class="mycontainer">
                        <div class="alignStuff">
                            <p> Commit to bi-weekly meetings after school at GAA with your team and your mentor.</p>
                            <p>Each meeting, you will complete the tasks of the SmallWorld program and get closer to implementing your creative and effective solution to your identified humanitarian problem.</p>
                        </div>
                    </div>
            </div>



           <div class="mission-home">
              <div class="row">
                  <div class="mycontainer">
                      <div class="alignStuff-sm">
                          <h4 class="ourmission">4. Solve </h4>
                      </div>
                  </div>
              </div>
          </div>

            <div class="row">
                    <div class="mycontainer">
                        <div class="alignStuff">
                            <p> Solve your identified problem by utilizing what you are passionate about, and measure your teams' impact. Then, you will present your solution and impact at an end-of-the-year SmallWorld event and think about your next steps in maintaining or improving your solution.</p>
                        </div>
                    </div>
            </div>




           <div class="mission-home">
              <div class="row">
                  <div class="mycontainer">
                      <section id="faqs">
                      <div class="alignStuff">

                          <h4 class="ourmission">FAQS </h4>

                      </div>
                             </section>
                  </div>
              </div>
          </div>

                <div class="row">
                    <div class="mycontainer">
                        <div class="alignStuff">
                              <h1>What do I get out of joining a SmallWorld team?</h1>
                             <p class="p-hr-top"> Show universities that you are not only involved in community service projects, but you also have <b>genuine passion for
                                 the problem, long-term commitment to solve it, and a specific measurement of your impact.</b></p>
                            <hr>
                            <h1>What makes SmallWorld different?</h1>
                            <p> <b>Measurable impact. Commitment. Real change.</b></p>
                             <p class="p-hr-top">You get to choose the problem, and you get to create the solution based on what you like to do.
                                 We are not here to track hours- we are here to give you the mentorship and resources to make real, tangible changes- that
                                 you think are most important- in Abu Dhabi or beyond.
                             </p>
                          <hr>
                             <h1>What kinds of problems can we solve?</h1>
                            <p> <b>Any specific problem that you feel passionate about.</b> </p>
                             <p> In the past, GAA Teams have addressed:
                             <ul>
                            <li> Social Barriers in the UAE</li>
                             <li> Food Waste</li>
                             <li> Poor Nutrition & High Diabetes </li>
                             <li> Driver Safety</li>
                            <li> Mental Health</li>
                             </ul>
                          <p> Some other ideas:</p>
                        <ul>
                            <li> Creating a Public Health Awareness Program </li>
                            <li> Climate Change </li>
                            <li> Migrant Worker Issues </li>
                        </ul>

                        </div>
                        <hr>


                        </div>
                    </div>
                </div>

</body>
</html>