{% extends 'home/base.html' %}
{% load static %}

{% block content1 %}


    <div class="mission-home-2">
      <div class="row">
    <div class="mycontainer">
           <section id="section3">
                <div class="alignStuff">
                <h1>Meet our team.</h1>
                </div>
            </section>
          </div>
        </div>
      </div>

<div class="mission-home">
        <div class="row">
    <div class="mycontainer">
            <section id="section2">
                <div class="alignStuff">
                    <h5 class="ourmission">Leadership</h5>
          </div>
        </div>
      </div>
</div>

<div class="teamcontainer">
    <div class="row">
        <div class="teamalign">
            <img class="teampic" src="{% static 'img/daria.jpg' %}">
        </div>
        <div class="teamtxtcontainer">
            <h5>Daria Akinshina</h5>
            <p class="teamtxt-sub">Co-founder</p>
        </div>
        <div class="teamalign">
            <div class="container-fluid">
                <p class="teamtxt-p">I am a Junior at New York University Abu Dhabi studying Political Science and Philosophy with minor in Arabic Language. I am interested in legal sphere and would like to pursue career in an international human rights law. As for my non-academic life, I love classic literature, running and travelling.</p>
            </div>
        </div>
    </div>
</div>
<div class="teamcontainer">
        <div class="row">
            <div class="teamalign">
        <img class="teampic" src="{% static 'img/sarah.jpeg' %}">
        </div>
            <div class="teamtxtcontainer">
             <h5>Sarah Dinegar</h5>
  <p class="teamtxt-sub">Co-founder</p>
            </div>
<div class="teamalign">
   <div class="container-fluid">

  <p class="teamtxt-p-2">Sarah Dinegar graduated from Northwestern University with a degree in Biological Sciences and German in June 2019.
      She completed an Honors thesis comparing chronic disease management in Germany and the United States, and she is passionate about driving healthcare reform throughout her career.
      She is starting work at DaVita Kidney Care as a healthcare analyst on their Patient Education Team in September 2019 and is applying for medical school for matriculation in fall 2020.
  </p>
    </div>
</div>
        </div>
</div>






<div class="teamcontainer">
        <div class="row">
            <div class="teamalign">
        <img class="teampic" src="{% static 'img/lauren3.jpg' %}">
        </div>
            <div class="teamtxtcontainer">
             <h5>Lauren McMillen</h5>
  <p class="teamtxt-sub">Co-founder</p>
            </div>
<div class="teamalign">
  <div class="container-fluid">

  <p class="teamtxt-p">Lauren is a junior at New York University Abu Dhabi, studying Computer Science and Arabic.
      Her career goals are influenced by experiences she has had working in the human rights and non-profit field, and her primary goals are to
      learn more about humanitarian problems through first-hand experience and develop SmallWorld into an effective and innovative organization.
      She is passionate about using technology to bridge the gap between awareness and action. In her free time, she loves being active, reading, and cooking!
  </p>
    </div>
</div>
        </div>
</div>

<div class="mission-home">
        <div class="row">
    <div class="mycontainer">
            <section id="section2">
                <div class="alignStuff">
                    <h5 class="ourmission">Mentors</h5>
          </div>
        </div>
      </div>
</div>

<div class="teamcontainer">
    <div class="row">
        <div class="teamalign">
            <img class="teampic" src="{% static 'img/daria.jpg' %}">
        </div>
        <div class="teamtxtcontainer">
            <h5>Daria Akinshina</h5>
        </div>
        <div class="teamalign">
          <div class="container-fluid">
                <p class="teamtxt-p">I am a Junior at New York University Abu Dhabi studying Political Science and Philosophy with minor in Arabic Language. I am interested in legal sphere and would like to pursue career in an international human rights law. As for my non-academic life, I love classic literature, running and travelling.</p>
            </div>
        </div>
        </div>
    </div>
</div>
<div class="teamcontainer">
    <div class="row">
        <div class="teamalign">
            <img class="teampic" src="{% static 'img/daniella.jpg' %}">
        </div>
        <div class="teamtxtcontainer">
            <h5>Daniella Aruina</h5>
        </div>
        <div class="teamalign">
            <div class="container-fluid">
                <p class="teamtxt-p">As an economics and Arabic language student at NYUAD, I am very passionate about entrepreneurship, sustainability, and different cultures. I have been one of co-founders of the Students Design Education Forum in Moscow, Russia and co-organizers of NYUAD Hackathon for Social Good in the Arab World. I am very excited to be a part of SmallWorld and see new ideas being implemented in order to make a positive change.  </p>
            </div>
        </div>
    </div>
</div>
<div class="teamcontainer">
    <div class="row">
        <div class="teamalign">
            <img class="teampic" src="{% static 'img/carlos.jpeg' %}">
        </div>
        <div class="teamtxtcontainer">
            <h5>Carlos Riofrio</h5>
        </div>
        <div class="teamalign">
            <div class="container-fluid">
                <p class="teamtxt-p">Carlos studies Economics and Public Policy. He enjoys reading about political, economic, and social trends in the world. He wants to become an evidence-based public policy maker in Latin America. He has a strong curiosity to lessen the burden of climate change and development.</p>
            </div>
        </div>
    </div>
</div>
<div class="teamcontainer">
    <div class="row">
        <div class="teamalign">
            <img class="teampic" src="{% static 'img/fani.jpeg' %}">
        </div>
        <div class="teamtxtcontainer">
            <h5>Fani Kanoni </h5>
        </div>
        <div class="teamalign">
            <div class="container-fluid">
                <p class="teamtxt-p">As a junior double majoring in Psychology and Political Science at NYUAD, I'm passionate about a variety of humanitarian issues including but not limited to mental health, female empowerment, and children's rights. As an avid athlete, I'm fascinated by the intersection of sports, public health, and public policy and how these dynamics impact populations on the micro and macro levels. I'm very excited to be a part of the SmallWorld team for the third year in a row and look forward to working with you all!</p>
            </div>
            </div>
        </div>
    </div>
</div>
<div class="teamcontainer">
    <div class="row">
        <div class="teamalign">
            <img class="teampic" src="{% static 'img/rama.jpg' %}">
        </div>
        <div class="teamtxtcontainer">
            <h5>Rama AlHarari</h5>
        </div>
        <div class="teamalign">
            <div class="container-fluid">
                <p class="teamtxt-p">Rama Alhariri is a rising junior majoring in Biology at New York University Abu Dhabi.
                    During a Public Health Think Tank in 2018, Rama was recognized as one of the first-place drafters of an intervention aimed at
                    combating cardiovascular disease in the UAE and is looking to mentor high school students interested in co-developing her intervention.
                    She strongly encourages students from all academic disciplines to become involved and believes everyone will have something equal to contribute to the project.
</p>
            </div>
        </div>
    </div>
</div>
<div class="teamcontainer">
    <div class="row">
        <div class="teamalign">
            <img class="teampic" src="{% static 'img/vivi.jpg' %}">
        </div>
        <div class="teamtxtcontainer">
            <h5>Vivi Jiaqi Zhu</h5>
        </div>
        <div class="teamalign">
            <div class="container-fluid">
                <p class="teamtxt-p">I am a sophomore in New York University Abu Dhabi, double majoring in Film and New Media and Visual Art. I am also interested in policies, gender study, philosophy, and education. I am passionate about creating arts that are inspired by social issues. I mainly focus on photography, documentary filmmaking, design, and illustrations. I am excited to be part of this creative community.</p>
            </div>
        </div>
    </div>
</div>
<div class="teamcontainer">
    <div class="row">
        <div class="teamalign">
            <img class="teampic" src="{% static 'img/takumi.jpg' %}">
        </div>
        <div class="teamtxtcontainer">
            <h5>Takumi Miyawaki</h5>
        </div>
        <div class="teamalign">
            <div class="container-fluid">
                <p class="teamtxt-p">As a Junior in NYUAD studying computer engineering, my interest lies in the application of technical problem-solving in humanitarian, environmental and societal issues. My interest in span from children’s education in developing countries, the use of robotics in health care facilities, as well as sustainable development. In my spare time I like to play football, golf and sing Karaoke.</p>
            </div>
        </div>
    </div>
</div>
<div class="teamcontainer">
    <div class="row">
        <div class="teamalign">
            <img class="teampic" src="{% static 'img/emily.jpg' %}">
        </div>
        <div class="teamtxtcontainer">
            <h5>Emily Broad</h5>
        </div>
        <div class="teamalign">
            <div class="container-fluid">
                <p class="teamtxt-p">I am a freshman at New York University Abu Dhabi majoring in Literature and Creative Writing with minors in Arabic and Religious Studies. My favorite hobby is photography, specifically street photography, with special interest in the Middle East and the southern U.S. I hope to one day be a photojournalist or work in the journalism industry. I am from Minnesota, but have family in North Carolina, New Jersey, and New York. Some of my favorite pastimes are reading Haruki Murakami books, traveling around the southern United States, and working in the university’s photo archives. </p>
            </div>
        </div>
    </div>
</div>


<div class="mission-home">
        <div class="row">
    <div class="mycontainer">
            <section id="section2">
                <div class="alignStuff">
                    <h5 class="ourmission">Web Developers</h5>
          </div>
        </div>
      </div>
</div>

<div class="row">
        <div class="mycontainer">

            <h5> Coming soon! </h5>

            </div>
    </div>







{% endblock %}