{% extends 'home/base.html' %}
{% load static %}

{% block content1 %}




    <div class="mission-home-2">
      <div class="row">
    <div class="mycontainer">
           <section id="section3">
                <div class="alignStuff">
                <h1>Our work.</h1>
                </div>
            </section>
          </div>
        </div>
      </div>

    <div class="row">
    <div class="mycontainer">
      <div class="alignStuff">
          <p> SmallWorld started as an idea in 2017. Since then, a small team of undergrads have been working to build the foundations of a organization. </p>
          <!-- <p> Right now, we are fundraising $600 to register as an official 501(c)(3) non-profit organization.  <button class="button-normal-sm"> Donate now  >> </button> </p>-->
          <p> <a href="{% url 'TeamMap:index' %}">Meet our teams</a> working now to implement measurable solutions. </p>
      </div>
    </div>
    </div>

<div class="mission-home">
        <div class="row">
    <div class="mycontainer">
            <section id="section2">
                <div class="alignStuff">
                    <h4 class="ourmission">What SmallWorld is doing:</h4>
          </div>
        </div>
      </div>
</div>



      <div class="row">
    <div class="mycontainer">
           <section id="section3">
                <div class="alignStuff">
                    <h5> 1. Pilot Program </h5>
                    <p> Right now, we are running a pilot program at GEMS American Academy in Abu Dhabi, UAE.</p>

                    <p> The next group of teams will identify their problems and launch their solutions in September 2019. Stay tuned to see their progress.</p>

<p class="p-hr-top"> We are beyond grateful for the support of the GEMS Corporation for supporting us in our early stages of development. <p>
                    <hr>
                     <h5> 2. Building the platform</h5>
                    <p>Our platform will:</p>
                    <p class="indent"> 1)  connect SmallWorld teams to specific humanitarian problems and</p>
                    <p class="indent"> 2)  provide these teams a structured, web-based program to solve them. </p>


            </section>
          </div>
        </div>
      </div>

<div class="mission-home">
        <div class="row">
    <div class="mycontainer">
            <section id="section2">
                <div class="alignStuff">
                    <h4 class="ourmission">What SmallWorld has done:</h4>
          </div>
        </div>
      </div>
</div>



      <div class="row">
    <div class="mycontainer">
           <section id="hasdone">
                <div class="alignStuff">
                    <h5> 1. Developed a Structured, Web-Based Program </h5>
                    <p> Over 2 semesters, a team of high school students and their mentor identify a specific humanitarian problem, understand its root causes, and solve it by “repurposing” what they are already passionate about- like art, music, or sports.</p>
<p> Using our online platform, teams work through the 5 steps below and upload their progress and solution to their team profile. At the end, teams must devise a way to measure their solution.</p>

                    <h5> The 5 Steps of a SmallWorld Solution</h5>
                    <p> 1. Identify a specific humanitarian problem.</p>
                    <p> 2. Become educated about its causes and effects. </p>
                    <p> 3. Form a solution and devise a way to measure your results. </p>
                    <p> 4. Make and update an Action Blueprint. </p>
                    <p class="p-hr-top"> 5. Implement the solutions and measure your results. </p>
                    <hr>

                    <p class="p-hr-bottom"> Check out our <a href="#">Facebook</a> for an in-depth look at each of these steps! </p>


            </section>
          </div>
        </div>
      </div>
<div class="mission-home">
        <div class="row">
    <div class="mycontainer">
            <section id="section2">
                <div class="alignStuff">
                    <h4 class="ourmission">SmallWorld's immediate goals: </h4>
          </div>
        </div>
      </div>
</div>



      <div class="row">
    <div class="mycontainer">
                <div class="alignStuff">
                    <h5> 1. Execute a successful 2019-2020 program, with at least 3 teams solving a humanitarian problem</h5>
                    <p class="p-hr-top"> Through the pilot, we have corrected mistakes in our original model. We have: a) provided structure & b) expanded and optimized the program time frame. This year, we c) identified mentors that fit and commit to our program. We believe these three pieces in place will allow our program to be successful.<p>
                    <hr>
                     <h5> 2. Launch a self-sustainable platform in 2021 </h5>
                    <p>Our goal is that students and mentors can create teams and implement our program without our direct involvement by using the platform.</p>
                    <p>We are building the platform piece-by-piece to meet this goal.</p>
                   <!-- <p> To contribute your aspiring or experienced tech skills, click here >></p>-->
          </div>
        </div>
      </div>














{% endblock %}